@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: #f7f7f7;
}

/* Navbar styling */

.nav-image {
    width: 115px;
    cursor: pointer;
}

.navbar {
    padding: 4px 8px;
    background-color: rgb(56, 56, 56);
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    color: crimson !important;
    transition: all 0.5s ease;
  }

  /* Carousel section styling */

  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}
  
.carousel-caption {
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 80px;
    font-weight: 600;
}

.slider-btn {
    margin-top: 35px;
}

.slider-btn .btn {
    background-color: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Pizza Collection Section */

.page-header {
    margin-top: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
}

.card {
    height: 100%;
    width: 100%;
}

.pizza-text {
    color: #dc143c;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.inner{
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 110px;
    height: 93px;
    text-align: right;
  }
  .ribbon span {
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(45deg);
    width: 125px;
    display: block;
    background: #dc143c;
    background: linear-gradient(#dc143c 0%, #dc143c 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 18px; 
    right: -29px;
  }
  
  .ribbon span::before {
     content: '';
     position: absolute; 
     left: 0px; top: 100%;
     z-index: -1;
     border-left: 3px solid #dc143c;
     border-right: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #dc143c;
  }
  .ribbon span::after {
     content: '';
     position: absolute; 
     right: 0%; top: 100%;
     z-index: -1;
     border-right: 3px solid #dc143c;
     border-left: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #dc143c;
  }


  /* FAQ Accordion Section */

  .faq-header {
    margin-top: 25px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
  }

  .ribbon-toppings {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 110px;
    height: 93px;
    text-align: right;
  }
  .ribbon-toppings span {
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(45deg);
    width: 125px;
    display: block;
    background: #14c5dc;
    background: linear-gradient(#14c5dc 0%, #14c5dc 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 18px; 
    right: -29px;
  }
  
  .ribbon-toppings span::before {
     content: '';
     position: absolute; 
     left: 0px; top: 100%;
     z-index: -1;
     border-left: 3px solid #14c5dc;
     border-right: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #14c5dc;
  }
  .ribbon-toppings span::after {
     content: '';
     position: absolute; 
     right: 0%; top: 100%;
     z-index: -1;
     border-right: 3px solid #14c5dc;
     border-left: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #14c5dc;
  }

